@media screen and (min-width: 481px) and (max-width: 1024px){

 .remain{
     width: 720px;
     padding: 32px 24px;
     margin: 0 auto;
     gap: 32px;
     justify-content: center;
     display: flex;
     flex-wrap: wrap;
     align-items: center;

 }

 .card{
     width: 30%;
     height: 239px;

 }
 img{
     width: 100%;
 }
 h3,p{
     width: 218px;
     height: auto;
 }


}
